[Desktop Entry]
Type=Application
Name=Login Window
Name[an]=Finestra d'encetar sesion
Name[bn]=লগইন উইন্ডো
Name[bn_IN]=লগ-ইন উইন্ডো
Name[br]=Prenestr kennaskañ
Name[cs]=Přihlašovací okno
Name[cy]=Ffenestr Mewngofnodi
Name[dz]=ནང་བསྐྱོད་སྒོ་སྒྲིག
Name[el]=Παράθυρο εισόδου
Name[en_CA]=Login Window
Name[en_GB]=Login Window
Name[eo]=Ensalutfenestro
Name[et]=Sisselogimisaken
Name[fi]=Kirjautumisikkuna
Name[fr]=Fenêtre de connexion
Name[ga]=Fuinneog Logála Isteach
Name[gv]=Uinnag logstiagh
Name[he]=חלון התחברות
Name[it]=Finestra di accesso
Name[ja]=ログイン画面
Name[ko]=로그인 창
Name[mg]=Fikandran'ny fidirana
Name[mk]=Прозорец за најава
Name[mr]=प्रवेश चौकट
Name[nds]=Anmellenfinster
Name[nl]=Aanmeldvenster
Name[nn]=Innloggingsvindauge
Name[pa]=ਲਾਗਇਨ ਵਿੰਡੋ
Name[pt_BR]=Janela de início de sessão
Name[sl]=Prijavno okno
Name[sr@latin]=Prozor za prijavljivanje
Name[sv]=Inloggningsfönster
Name[te]=లాగిన్ విండో
Name[th]=หน้าจอเข้าระบบ
Name[uk]=Вікно входу в систему
Name[uz]=Tizimga kirish oynasi
Exec=/usr/libexec/gdm-simple-greeter
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
NoDisplay=true
